body{
    font-family: 'Poppins', sans-serif;
    margin:0;    
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{  
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;     
}
.experience-area{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    border-radius:20px;
    width: 40%;
    margin-left:3%;
    margin-right:3%;
    box-shadow: 10px 20px 50px gray; 
    padding-left:20px;
    
}

.half-width img{
    width: 80%;
}
.sendme{
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 156, 5),red);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
}
.topbanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.round-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 100px;
}
#full-stack-experience{
    border-left: 7px solid ;
    border-image: linear-gradient(purple ,tomato);
    border-image-slice: 1;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}